body {
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/9/97/A_picture_of_Quincy_K_Brown.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

table,th,td{
    border:2px solid black
}
.center {
    margin-left: auto;
    margin-right: auto;
}
